.table {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.customer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* Stil dosyası (örneğin "styles.css") */

.menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  top: 30px; /* Ayarlayabilirsiniz */
  left: 50%; /* Orta hizalama */
  transform: translateX(-50%);
}

.menu-item {
  margin-bottom: 10px;
}
.menu-add {
  display: block;
  margin-top: 10px;
}
.menu-close {
  display: block;
  margin-top: 10px;
  float: right;
  background: #fff;
  border: 0;
  color: #000;
}
.customer button {
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
}
.all-button {
  background: #000;
  color: #fff;
  padding: 6px 16px;
  border: 0;
}
